<.header>
  New Micropost
  <:subtitle>Use this form to manage micropost records in your database.</:subtitle>
</.header>

<.micropost_form changeset={@changeset} action={~p"/microposts"} />

<.back navigate={~p"/microposts"}>Back to microposts</.back>

<div class = "center-text">
<br> <br>
<br>
  <a href="/" class="text-blue-600 underline">Go to About</a>
</div>

